<ul class="list-unstyled">
  <!-- Notificações -->
  <li class="dropdown pc-h-item" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0 bg-gray-200" data-bs-toggle="dropdown" ngbDropdownToggle>
      <i antIcon [type]="'bell'" theme="outline"></i>
      <span class="badge bg-primary pc-h-badge">{{ unreadNotifications }}</span>
    </a>
    <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header d-flex align-items-center justify-content-between">
        <h5 class="m-0">Notifications</h5>
        <a class="bg-transparent"><i antIcon [type]="'check-circle'" theme="outline" class="text-success d-flex f-20"></i></a>
      </div>
      <div class="dropdown-divider"></div>
      <ng-scrollbar style="min-height: 300px" visibility="hover">
        <div class="dropdown-header px-0 text-wrap header-notification-scroll">
          <div class="list-group list-group-flush w-100">
            <a *ngFor="let notification of notifications" class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <div class="user-avatar bg-light-primary">
                    <i antIcon [type]="getIconType(notification.icon)" theme="outline" class="d-flex"></i>
                  </div>
                </div>
                <div class="flex-grow-1 ms-3">
                  <span class="float-end text-muted">{{ notification.time }}</span>
                  <p class="text-body mb-1">{{ notification.title }}</p>
                  <span class="text-muted">{{ notification.description }}</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </ng-scrollbar>
      <div class="dropdown-divider"></div>
      <div class="text-center py-2">
        <a class="link-primary">View all</a>
      </div>
    </div>
  </li>

  <!-- Perfil do Usuário -->
  <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar me-2" />
      <span class="f-w-600">{{ userName }}</span>
    </a>
    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header">
        <div class="d-flex mb-1">
          <div class="flex-shrink-0">
            <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar wid-35" />
          </div>
          <div class="flex-grow-1 ms-3 text-start">
            <h6 class="mb-0">{{ userName }}</h6>
          </div>
        </div>
      </div>

      <!-- Opções de Menu -->
      <ul ngbNav #nav="ngbNav" class="nav drp-tabs nav-fill nav-tabs">
        <li ngbNavItem="1">
          <a ngbNavLink>
            <i antIcon theme="outline" [type]="'user'" class="me-2"></i>
            Profile
          </a>
          <ng-template ngbNavContent>
            <div *ngFor="let task of profile">
              <a class="dropdown-item">
                <i antIcon [type]="getIconType(task.icon)" theme="outline" class="text-muted"></i>
                <span>{{ task.title }}</span>
              </a>
            </div>
            <div>
              <a class="dropdown-item" (click)="logout()">
                <i antIcon [type]="'logout'" theme="outline" class="text-muted"></i>
                <span>Logout</span>
              </a>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem="2">
          <a ngbNavLink>
            <i antIcon [type]="'setting'" theme="outline" class="me-2"></i>
            Settings
          </a>
          <ng-template ngbNavContent>
            <div *ngFor="let task of setting">
              <a class="dropdown-item">
                <i antIcon [type]="getIconType(task.icon)" theme="outline" class="text-muted"></i>
                <span>{{ task.title }}</span>
              </a>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </li>
</ul>
